

img
{
	width:100%;
}

body
{
	background-color:black;
	color:white;
    overflow-y: scroll;
}

body, html
{
	scroll-behavior: auto;
}

.tab-pane
{
	border:1px solid #666666;
	border-top:none;
	padding:20px;
	padding-top:0px;
	border-bottom-left-radius:.25rem;
	border-bottom-right-radius:.25rem;
}

.tab-pane .row::before
{
	content:"";
	Width:100%;
	height:3px;
	background: linear-gradient(0deg, rgba(255,130,0,1) 1%, rgba(255,126,0,1) 50%, rgba(255,255,255,1) 100%);
	margin:12px;
	margin-top:24px;
	margin-bottom:24px;
}

.tinytext
{
	font-size:0.6em;
}

.table tr
{
		border-color:#333333;
}
.table tr th
{
	width:3.2rem;
	border-color:#333333;
	color:#FFFFAA;
}

.table tr td
{
	border-color:#333333;
	color:white;
}

table
{
	color:white;
}

.nav-tabs .nav-link, .nav-tabs
{
	border-color:#666666;
	color:white;
}

#navheader
{
	position:fixed;
	width:100%;
	Background-color:black;
	z-index:200;
	display:block;
}
#navheader .row:first-of-type
{
	margin-top:4px;
	margin-bottom:4px;
}

#navheader .sortbtn
{
	width:100%;
	border: 1px solid white;
	border-radius: 4px;
	margin:2px;
	padding:0px;
	font-size:12px;
	font-weight:bold;
}

#navheader .col-md-6, #navheader .col-sm-6, #navheader .col-lg-6, #navheader .col-xs-6
{
	margin-left:auto;
	margin-right:auto;
	text-align:center;
}

#navbody
{
	display:block;
}

header
{
	padding:0px;
	Background-color:navy;
}
